{#
/**
 * @file job.html.twig
 * Default theme implementation to present Job data.
 *
 * This template is used when viewing Job pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_job()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('job') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
